html {
  display: flex;
  justify-content: center;
  background-color: #eaddca;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Libre Baskerville", serif;
}
header {
  font-size: x-large;
  display: flex;
  justify-content: center;
}
h1 {
  border-style: ridge;
  border-radius: 80px;
  border-color: #9a2a2a;
  margin-left: 60px;
  padding: 30px;
  border-width: 10px;
}
body {
  font-size: 25px;
  width: 400px;
  margin: 0 auto;
  justify-content: center;
}

form {
  display: flex;
  width: 100%;
  padding-bottom: 0.5rem;
}
input {
  display: grid;
  width: 400px;
  font-size: 1.2em;
  background-color: black;
  color: #f0e68c;
  border-radius: 55px;
}

.todo-container {
  width: 500px;
  margin: auto;
  display: block;
  padding: 70px;
  justify-content: space-between;
}
button {
  color: black;
  font-style: italic;
  font-size: medium;
  margin: 0 40px;
  border-radius: 55px;
  padding: 10px;
  background-color: #967969;
  transition: all 0.3s;
}

.btn {
  margin-left: 50px;
}

button:hover {
  color: #c70039;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em;
}

div {
  padding-bottom: 10px;
}

li {
  padding: 5px;
  display: flexbox;
  flex-direction: column;
}

@media (max-width: 768px) {
  li {
    font-size: 1em;
  }
}
