html {
  background-image: url("images/blue-mist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: Helvetica;
  font-size: 20px;
  color: black;
  width: 400px;
  margin: 0 auto;
}

input {
  display: grid;
  width: 400px;
  font-size: 1.2em;
  background-color: black;
  color: white;
}

.todo-container {
  margin: auto;
  padding: 20px;
  height: 10pc;
  width: 25pc;
}

.addBtn {
  position: absolute;
  cursor: pointer;
}

.addBttn {
  position: absolute;
  cursor: pointer;
}
