html {
  background-image: url("images/blue-mist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  font-family: "Ewert", cursive;
  font-size: x-large;
}
body {
  font-family: Tahoma;
  font-size: 20px;
  color: black;
  width: 400px;
  margin: 0 auto;
}
form {
  display: flex;
  width: 100%;
  padding-bottom: 0.5rem;
}
input {
  display: grid;
  width: 400px;
  font-size: 1.2em;
  background-color: black;
  color: white;
}

.todo-container {
  width: 300px;
  margin: auto;
  display: block;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
}
button {
  color: black;
  font-style: italic;
  font-family: Tahoma, bold;
  font-size: medium;
  margin: 0 10px;
}

button:hover {
  color: orangered;
  cursor: pointer;
}
